.webclipse.properties
.wget-hsts
.atom
.cache
.bash_history
.dropbox
.Trash
.webclipse
.eclipse
.zsh_history
.zsh-update
.zshrc
.stCommitMsg
.viminfo
.vim/.netrwhist
.z.*
.zcompdump-mc-s103804-*
.profile
.sh_history
.gitconfig
.gitconfig-no-proxy
.gitconfig-proxy
.subversion/servers
.subversion/servers-no-proxy
.subversion/servers-proxy
.m2/repository
*.pub
id_rsa
.ssh
.oracle_jre_usage
settings.xml
.config/wireshark/preferences
.config/wireshark/recent
.config/wireshark/recent_common
.cups/lpoptions
.aws/md_dev_cred.csv
.aws/md_prod_cred.csv
.android/adb_usb.ini
.aws/config
.aws/credentials
.lesshst
.startIRC
.subversion/config
.subversion/README.txt
.tooling/gradle/versions.json
.local/share/Trash
.xrebel/.installid
.xrebel/xrebel-eclipse.log
.xrebel/xrebel.prefs
.hgapi_key
.npm
repl-history
update-notifier-npm.json
.zshenv
.python_history
.z.20136
fontList.json
.ipython/*
.jupyter/*
.hg_api_key
.hg_graphite_key
htoprc
.#*
.node-gyp
.vscode-react-native
.vscode/extensions
.config/configstore/update-notifier-gatsby-cli.json
.jspm/config
.matplotlib/fontList.cache
.sonarlint/telemetry/idea/usage
.ivy2
.netrc
.parallel
.cabal
.flow
.gem
.babel.json
.clojupyter_history
.clojure_history
.git-credentials
.gitflow_export
.node_repl_history
.npmrc
.php_history
.cljs/.aot_cache
.composer
.elm
.platformio
.vim
.zoomus
.vagrant.d
.v8flags.6.2.414.54.9c73c36b729c54017d1707f10343d020.json
.yarnrc
.screenrc
.config/QtProject
.cpan
hub
.config/configstore
*.pyc
*.jar
.matplotlib
