.webclipse.properties
.wget-hsts
.atom
.cache
.bash_history
.dropbox
.Trash
.webclipse
.eclipse
.zsh_history
.zsh-update
.zshrc
.stCommitMsg
.viminfo
.vim/.netrwhist
.z
.zcompdump-mc-s103804-5.2
.profile
.sh_history
.gitconfig
.gitconfig-no-proxy
.gitconfig-proxy
.subversion/servers
.subversion/servers-no-proxy
.subversion/servers-proxy
.m2/repository
*.pub
id_rsa
.ssh
.oracle_jre_usage
settings.xml
.config/wireshark/preferences
.config/wireshark/recent
.config/wireshark/recent_common
.cups/lpoptions
.aws/md_dev_cred.csv
.aws/md_prod_cred.csv
.android/adb_usb.ini
.aws/config
.aws/credentials
.lesshst
.startIRC
.subversion/config
.subversion/README.txt
.tooling/gradle/versions.json
.local/share/Trash
.xrebel/.installid
.xrebel/xrebel-eclipse.log
.xrebel/xrebel.prefs
.hgapi_key
.npm
repl-history
update-notifier-npm.json
.zshenv
.python_history
